.invisible {
  display: none;
}

.stock-label {
  background-color: #007bff; /* Fondo azul primario */
  color: white; /* Texto blanco */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 3px; /* Bordes redondeados */
  font-size: 12px; /* Tamaño de fuente pequeño */
  display: inline-block; /* Mostrar como bloque en línea */
}
